<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<form method="POST" action="/applyregistration">
    <p>Username: <input type="text" name="username" /></p>
    <p>Password: <input type="password" name="pwd" /></p>
    <p>Full name: <input type="text" name = "fullname" /></p>
    <p>Email Address: <input type="text" name = "emailaddress" /></p>

    <p><input type="submit" value="Register" /></p>
</form>
{% if msg %}
<p> {{ msg }} </p>
{% endif %}
</body>
</html>