<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Selected Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>
<h1>See Selected Game</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <td>{{ game[0] }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ game[1] }}</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>{{ game[2] }}</td>
    </tr>
    <tr>
        <th>Full Released</th>
        <td>{{ 'Yes' if game[3] else 'No' }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ game[4] }}</td>
    </tr>
</table>
<p><a href="{{ url_for('homePage') }}">Go back to Home Page</a></p>
</body>
</html>
